.tabs {
	a {
		@extend .transition;
		display: block;
		width: 33.33%;
		padding: 0.4em;
		text-decoration: none;
		font-family: $head;
		font-size: 2em;
		color: #4e6c9b;
		text-transform: uppercase;
		float: left;
		img {
		    width: 40px !important;
		    height: 40px !important;
		    margin-right: 0.5em;
		    float: left;
		}

		&:hover {
			background-color: #dedede;
			text-decoration: none;
		}
		@include break(thumb) {
			font-size: 1em;
			img {
		    	width: 16px !important;
				height: 16px !important;
				margin-right: 0.5em;
			}
			
		}
	}
}
